<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영화 검색 결과</title>
    <style>
        *{
            margin: 0;

        }


    </style>
</head>
<body>

    
<h2>영화 검색 결과</h2>
<table>
    <tr>
        <th>영화 번호</th>
        <th>영화 이름</th>
        <th>감독 이름</th>
        <th>개봉일</th>
        <th>관람 등급</th>
    </tr>
    <tr th:each="Movieinfo: ${movieList}">
        <!--
        <td th:text="${Movieinfo.no}"></td>
        임시로 영화 번호에 링크를 걸어서 리뷰 페이지로 이동하게끔 해야 할 것 같아 아래로 코드를 수정함
        -->
        <!--<form class="goReview-form" action="review" >-->
              <!--method="post" 작성하니 Request method 'POST' is not supported 오류 발생함. 제거하니 해결됨-->
            <!--<input name="movieNo" th:value="${Movieinfo.no}" />-->
            <!--<td th:text="${Movieinfo.no}" onclick="submitForm(event)"></td>-->

        <td>
            <a th:href="@{review(movieNo=${Movieinfo.no})}"
               th:text="${Movieinfo.no}">영화 번호</a>
        </td>

        <!--<td th:text="${Movieinfo.no}" onclick="submitForm(${Movieinfo.no})"></td> -->
        <!--이렇게 수정하니 몇번째 줄을 눌러도 첫번째 줄 번호가 넘어가는 문제가 해결되고
            제대로 해당 번호가 넘겨지긴 하지만 링크 형식이며
            해당 줄의 다른 필드를 눌러도 똑같이 번호가 넘어가게 하고 싶은데 그렇지 않음
            시간관계상 7/23 이렇게만 임시로 작성해둠-->
            <td th:text="${Movieinfo.movieNm}"></td>
            <td th:text="${Movieinfo.drctrNm}"></td>
            <td th:text="${Movieinfo.opnDe}"></td>
        <!--</form>-->
        <td th:text="${Movieinfo.gradNm}"></td>
    </tr>
</table>
</body>
</html>
<script>
  function submitForm(id) {
    var reviewPageUrl = "/review?movieNo=" + id;
    window.location.href = reviewPageUrl;
  }
</script>